<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.market.entity.Admin">
        <id column="admin_id" property="adminId" />
        <result column="admin_username" property="adminUsername" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="is_locked" property="isLocked" />
        <result column="role_level" property="roleLevel" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, admin_username, password, sex, phone, is_locked, role_level, avatar_url,create_time
    </sql>

</mapper>
