<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.mapper.ShoppingcartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.market.entity.Shoppingcart">
        <id column="customer_id" property="customerId" />
        <result column="good_id" property="goodId" />
        <result column="count" property="count" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_id, good_id, count, create_time
    </sql>

</mapper>
